---
layout: global
backgroundVideoId: "1200622808"
---

<video-background>
  <iframe src="https://player.vimeo.com/video/{{backgroundVideoId}}?background=1&pip=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</video-background>

<splash-container>
  <h1>KIT YOUNG</h1>
  <nav>
    <ul>
      <li>
        <a href="/recent-works">Recent Works</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</splash-container>
