---
title: Kit Young
date: git Last Modified
description: Interdisciplinary multimedia artist
---

<!DOCTYPE HTML>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">
  <!--
  WEBSITE BUILT WITH 11TY BY PALOMA KOP <3
  find me at https://palomakop.tv
  -->

  <!-- page title -->
  <title>{{title}}{% unless title contains "Kit Young" %} ● Kit Young {% endunless %}</title>

  <link href="/assets/style.css" rel="stylesheet">

</head>

<body id="top">

  {{content}}

</body>

</html>
