@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: italic;
}

@font-face {
  font-family: "Sixtyfour";
  src: url("./fonts/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --page-bg-color: #151920;
  --text-color: #bdd0d6;
  --link-color: #99cddd;
  --link-hover-color: #bdd0d6;
}

body {
  background-color: var(--page-bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 1.5em 2.5ch;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}

h1 {
  font-family: "Sixtyfour", sans-serif;
  font-size: 2em;
  font-variation-settings: "SCAN" -20, "BLED" 0;
  transition: font-variation-settings 0.3s ease;
  text-transform: uppercase;
}

@media (hover: hover) {
  h1:hover {
    font-variation-settings: "SCAN" -40, "BLED" 80;
  }
}

h2 {
  margin-bottom: 1.5em;
  text-align: center;
  font-family: "Sixtyfour", sans-serif;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

video-background.loaded {
  opacity: 1;
}

video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw; /* 16:9 aspect ratio */
  min-height: 100vh;
  min-width: 177.78vh; /* 16:9 aspect ratio */
  transform: translate(-50%, -50%);
}

splash-container {
  min-height: calc(90vh - 3em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 0.5em 2.5ch;
  flex-wrap: wrap;
}

splash-container nav ul {
  align-items: center;
  justify-content: center;
}

nav li a {
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.1ch;
}

main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em 2.5ch;
}

main-menu h1 {
  margin: 0;
}

main-menu h1 a {
  color: var(--text-color);
  text-decoration: none;
}

column-container {
  display: block;
  max-width: 70ch;
  margin: 5em auto 8em;
}

vimeo-embed {
  display: block;
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  max-height: 90vh;
  margin: 2em 0;
}

vimeo-embed iframe {
  display: block;
  width: 100%;
  height: auto;
  max-height: 90vh;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
}

works-index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 2em;
  margin: 2em 0;
}

works-index a {
  text-decoration: none;
  text-align: center;
}

works-index a img {
  width: 100%;
  height: auto;
  display: block;
}
